django-auth-ldap==5.2.0
netbox-qrcode==0.0.18
netbox-topology-views==4.3.0
netbox-inventory==2.4.0
netbox-floorplan-plugin==0.7.0
netbox-documents==0.7.4
netbox-lifecycle==1.1.6
netbox-otp-plugin==1.3.3
