django-auth-ldap==5.2.0
netbox-qrcode==0.0.18
netbox-reorder-rack==1.1.3
netbox-interface-synchronization==4.1.7
netbox-topology-views==4.3.0
netbox-attachments==8.0.4
netbox-inventory==2.3.1
netbox-floorplan-plugin==0.7.0
netbox-contract==2.4.0
netbox-documents==0.7.2
netbox-lifecycle==1.1.6
netbox-otp-plugin==1.3.2
nb-service==4.2.0
